.box-flex {
    display: flex;
    flex-flow: row nowrap;
}

.box-column {
    flex-direction: column;
}

.box-fill-height {
    height: 0;
    flex: 1 1;
}

.box-fill-width {
    width: 0;
    flex: 1 1;
}

